*.o
*.swp
*~
*.out
*.zip
build/
.fuse*
*#*
*.cdb
*.hex
*.lk
*.map
*.mem
*.omf
*.wsp
*.adb
*.lnk
*.lst
*.rel
*.rst
*.sym
*.out
*.asm
*.mp4
*.aux
*.log
*.ihx
.kdev4/
*.kdev4
*.creator
*.user
*.files
*.includes
__pycache__/
